header{
    margin-top: 100px;
    padding: 20px 20px;
    background-color:blue;
    border-radius:25;
}

button{
    height:100px;
    width:150px;
    
    color:white;
}
#btnSubmit{
    background-color:green
}
#btn-0{
    background-color:darkcyan;
    color:white;  
}
#btn-1{
    background-color:rgb(1, 110, 110);
    color:white;  
}
#btn-2{
    background-color:rgb(1, 90, 90);
    color:white;  
}
#btn-3{
    background-color:rgb(1, 110, 110);
    color:white;  
}
#btn-4{
    background-color:darkcyan;
    color:white;  
}
#headline{
    font-size: larger;
    font-weight: bolder;
}
#typeInCity{
    background-color:pink;
   
}
.col-3{
   
    background-color:rgb(39, 97, 15);
}
.col-9{
    
    background-color:rgba(41, 122, 34, 0.349);
    border:50px,solid,red;
}
.col-8 col-sm-6{
    height:200px;
    background-color:rgb(55, 97, 97);
}
.col-4 col-sm-6{height:200px;
    background-color:rgb(145, 255, 0);
}
.row2{
background-color: aliceblue;
}
.col{
    height:30%px;
}
.list-group{
    padding-top: 25px;
    padding-bottom: 25px;
}
.current-forecast{
    height:300px;
}
#col-1{
    background-color:darkcyan;
    color:white
}
#col-2{
    background-color:rgb(1, 110, 110);
    color:white
}
#col-3{
    background-color:rgb(1, 90, 90);
    color:white
}
#col-4{
    background-color:rgb(1,110,110);
    color:white
}
#col-5{
    background-color:darkcyan;
    color:white
}